<a href="https://colab.research.google.com/github/Rizzamae09/10-19-2022/blob/main/1019_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4110E225 艾麗藻


Python for loops.

Loop through the letters in the word "Canada":

In [1]:
for x in "Canada":
  print(x)

C
a
n
a
d
a

With the break statement we can stop the loop before it has looped through all the items:

In [17]:
countries = ["Canada", "Cambodia", "Colombia"]
for x in countries:
  print(x)
  if x == "Canada":
    break

Canada

Exit the loop when x is "Colombia":

In [16]:
countries = ["Canada", "Cambodia", "Colombia"]
for x in countries:
  if x == "Colombia":
    break
  print(x)

Canada
Cambodia

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [14]:
countries = ["Canada", "Cambodia", "Colombia"]
for x in countries:
  if x == "Canada":
    continue
  print(x)

Cambodia
Colombia

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [8]:
for x in range(14):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

Using the start parameter:

In [10]:
for x in range(15, 19):
  print(x)

15
16
17
18

Increment the sequence with 3 (default is 1):

In [11]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Print all numbers from 0 to 13, and print a message when the loop has ended:

In [12]:
for x in range(14):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
Finally finished!

Break the loop when x is 3, and see what happens with the else block:

In [13]:
for x in range(14):
  if x == 9: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8

Print each adjective for every country:

In [19]:
adj = ["Beautiful", "Amazing", "Wonderful"]
countriess = ["Canada", "Cambodia", "Colombia"]

for x in adj:
  for y in countries:
    print(x, y)

Beautiful Canada
Beautiful Cambodia
Beautiful Colombia
Amazing Canada
Amazing Cambodia
Amazing Colombia
Wonderful Canada
Wonderful Cambodia
Wonderful Colombia

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [20]:
for x in [13, 15, 18]:
  pass